.m-custom{
  margin-top: 66px;
  min-height: 100vh;
}

.heightCustom{
  min-height: 100vh;
  height: 100%;
}

/* Home */

.rounded-gradient {
    background: linear-gradient(126deg, rgba(22,15,152,1) 14%, rgba(58,49,221,1) 46%, rgba(94,155,244,1) 71%);
    border-radius: 0% 0% 22% 22% / 0% 0% 24% 24%;
    width: 100%;
    padding: 100px 40px 40px 40px ;
    color: white; /* Aggiunto per migliorare la leggibilità del testo */
}

.align-items-center {
    height: 100%; /* Assicura che i contenuti siano centrati verticalmente all'interno della riga */
}




.logoSfondo {
    max-width: 100%;
    height: auto;
}


  /* Custom Img Preview */
  .img-preview {
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
  }