/* Navbar */

.logo{
    height: 40px;
}

.navbar{
    /* From https://css.glass */
    background: var(--primary-color);
    color: var(--color-white);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}

.navbar-toggler{
    border:none;
}

.navbar-toggler:focus{
    box-shadow: none;
}